*{
    margin: 0px;
    padding: 0px;
   
}
.navbar{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}
.navbar a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;  
    box-sizing: border-box; 
}
.navbar a:hover{
    background-color: red;
    color: white  !important;
}
.navbar a i{
    padding-right: 10px;
}
.detailNavbar a i{
padding: 5px 10px;
}
.mainImg{
    padding: 0px 10px;
    position: relative;
    top:0px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.mainImg img{
    width: 100%;
    object-fit: cover;
    height:calc( 100vh - 24px);
}
.all{
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
}
.goodOffer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    box-sizing: border-box;
    padding: 5px 0px;
    margin: 0px auto;
}
.goodOffer p{
    width: 100%;
    padding: 10px 10px;
}
.goodOffer p:first-child{
    font-size: 24px;
}
.goodOffer50{
    width: 540px;
    box-sizing: border-box;
}
.goodOffer50 img{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: -7px;
    padding: 10px;
}
.goodOffer25{
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.goodOffer25 img{
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: -3px;
}
.exploreNature{
    width: 1100px;
    margin: 20px auto;
    display: flex;
    padding: 0px 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
}
.exNatureContainer{
    width: 49%;
}
.exNatureContainer img{
    width: 100%;
    margin-bottom: -7px;
}
#exploreFirst{
    width: 100%;
    margin: 10px 0px;
    font-size: 24px;
}
#exploreSecond{
    width: 100%;
    margin: 10px 0px;
}
.exNatureContent{
    background-color: white;
}
.exNatureContent p{
    padding: 10px 10px;
}
.exNatureContent p:first-child{
    font-size: 24px;
}
.exNatureContent button{
    padding: 12px 15px;
    border: none;
    margin: 10px 0px;
    box-sizing: border-box;
    background-color: white;
}
.exNatureContent button:hover{
    background-color: #ddd;
}
.offerfirst{
    width: 1090px;
    margin: 30px auto;
    padding: 15px 10px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    opacity: 0.6;
}
.offerfirst:hover{
    opacity: 1;
    cursor: pointer;
}
.offerfirst h1{
    margin: 5px 10px;
    box-sizing: border-box;
    padding: 20px 0px;
}
.offerfirst p{
  padding: 0px 10px 10px 10px;
}
.offerfirst label{
    padding: 0px 10px;
}
.offerfirst input{
    width: 98%;
    margin: 2px 0px;
    padding: 12px 15px;
    border: none;
    box-sizing: border-box;
}
.offerfirst input:focus{
    outline: 1px solid blue;
}
.offerfirst button{
    margin: 20px 10px;
    padding: 12px 15px;
    border: none;
    background-color: rgb(204, 11, 11);
    color: white;
}
.contact{
    width: 1090px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0px 10px;
}
#first{
    padding: 10px 0px;
    font-size: 30px;
}
#second{
    padding: 5px 0px;
} 
p{
    padding: 3px 0px;
}
.contact p i{
    padding-right: 15px;
}
.contact input{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 10px;
    margin: 5px 0px;
}
input:focus{
    outline: 1px solid blue;
}
.contact button{
    padding: 12px 15px;
    border: none;
    background-color: black;
    color: white;
    margin: 5px 0px;
}
.contact button:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
}
footer{
    padding: 50px 0px;
    background-color: rgb(241, 241, 241);
    color: black;
    box-sizing: border-box;
    text-align: center;
}
#footerSecond{
    margin: 10px;
    font-size: 20px;
}
#footerSecond a{
    text-decoration: none;
    color: black;
}